*{
    margin:0;
    padding:0;
    font-family:verdana;
  }
  #navbar{
    width:100%;
    position: absolute;
  }
  nav{
    width: 100%;
    height: 50px;
    background-color: transparent;
    /* background-color: #0005; */
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 30px; 
    display: flex;
  }
  nav ul img{
    text-align: left;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  nav ul li:hover{
    background-color:#088;
  }
  nav ul li a{
    text-decoration: none;
    /* color: #fff; */
    padding: 30px;
  }
  .introduction{
    background-color: #000;
    /* height: 85vh; */
    display: flex;
    padding: 7.5vh 10vw;
    justify-content: space-between;
  }
  .intro-image{
    height: 84vh;
    width: 30vw;
    border: 1px solid white;
    border-radius: 4% 4% 25% 4%;
  }
  .intro-text{
    color: #fff;
    width: 40vw;
    margin-top: 20vh;
  }
  .intro-text .title{
    margin-bottom: 30px;
  }