*{
    margin:0;
    padding:0;
    font-family:verdana;
  }
  #navbar{
    width:100%;
    position: absolute;
  }
  nav{
    width: 100%;
    height: 50px;
    background-color: transparent;
    /* background-color: #0005; */
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 30px; 
    display: flex;
  }
  nav ul img{
    text-align: left;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  nav ul li:hover{
    background-color:#088;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
  .intro-image{
    background-color: aqua;
    border-radius: 0 0 140px 0;
    height: 350px;
    width: 100vw;
  }