* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

#navbar {
  width: 100%;
  position: absolute;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #edc9af;
  /* background-color: #0005; */
  line-height: 50px;
}

nav ul {
  float: right;
  margin-right: 30px;
  display: flex;
}

nav ul img {
  text-align: left;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li:hover {
  background-color: #088;
}

nav ul li a {
  text-decoration: none;
  /* color: #fff; */
  padding: 30px;
}

.introduction {
  background-color: #edc9af;
  /* height: 85vh; */
  display: flex;
  padding: 7.5vh 10vw;
  justify-content: space-between;
}

.intro-image {
  height: 84vh;
  width: 30vw;
  border: 1px solid white;
  border-radius: 4% 4% 25% 4%;
}

.intro-text {
  color: #fff;
  width: 40vw;
  margin-top: 20vh;
}

.intro-text .title {
  margin-bottom: 30px;
}

.contact {
  background-color: #000;
  display: flex;
  padding: 7.5vh 10vw;
  justify-content: space-between;
  /* align-items: center; */
}

/* Contact form style starts here*/
#form {
  display:block;
  padding: 5em;
}
.h3{
  font-size: 25px;
  margin-bottom: 1em;
}
}
.body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}
.form-group {
  margin-bottom: 1rem;
}
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  border: 1px solid #313131;
}
select.form-control[size], select.form-control[multiple] {
    height: auto;
}
textarea.form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.credit a {
  color: #545b62;
  text-decoration: underline;
}

.credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
      transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-lg, .btn-group-lg>.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%;
}

/* Activities page starts here */
.activities{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #edc9af;
}

h3{
  margin-top: 2em;
}